<p style="color: green"><%= notice %></p>

<% content_for :title, "Usuarios" %>

<header>
  <h1>Usuarios</h1>
</header>

<div class="container">
  <div id="usuarios">
    <% @usuarios.each do |usuario| %>
      <%= render usuario %>
      <p>
        <%= link_to "Show this usuario", usuario %>
      </p>
    <% end %>
  </div>

  <%= link_to "New usuario", new_usuario_path, class: "btn" %>
</div>

<footer>
  <p>© 2024 Mi Proyecto CRUD</p>
</footer>
