<% content_for :title, "Nuevo Usuario" %>

<header>
  <h1>Crear Nuevo Usuario</h1>
</header>

<div class="container">
  <%= render "form", usuario: @usuario %>

  <br>

  <div>
    <%= link_to "Volver a Usuarios", usuarios_path, class: "btn regresar" %>
  </div>
</div>

<footer>
  <p>© 2024 Mi Proyecto CRUD</p>
</footer>
